
@{
    ViewBag.Title = "Ver Eventos";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/boostrap-table/src/bootstrap-table.css">
<link rel="stylesheet" href="~/Content/awesomplete.css">


@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/boostrap-table/src/bootstrap-table.js"></script>
<script src="~/Content/boostrap-table/src/locale/bootstrap-table-es-ES.js"></script>
<script src="~/Scripts/mustache.js" type="text/javascript"></script>
<script src="~/Scripts/awesomplete.js" type="text/javascript"></script>
<script src="~/Content/boostrap-table/src/extensions/filter-control/bootstrap-table-filter-control.js"></script>
<script src="~/Content/boostrap-table/src/extensions/mobile/bootstrap-table-mobile.js"></script>

<ol class="breadcrumb">
    <li><a href="#">Eventos</a></li>
    <li class="active">Ver Eventos</li>
</ol>

<div class="paragraphs">
    <div class="row">
        <div class="span4">
            <div class="content-heading" style="margin-left:17px !important;">

                <h3 class="pull-left">Ver Eventos &nbsp &nbsp </h3>
                <img src="~/Content/images/mailing2.png" />
            </div>

        </div>
    </div>
</div>

<br />
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#eOb" data-toggle="tab">Eventos Obligatorios</a></li>
        <li><a href="#eOp" data-toggle="tab" id="tabOp">Eventos Opcionales</a></li>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="eOb">

            <div class="container">
                <table data-toggle="table" data-url='@Url.Action("GetEventosObligatorios", "Notificacion")' data-pagination="true" data-side-pagination="client"
                       data-page-list="[10, 25, 50, 100, ALL]" data-row-style="rowStyle" data-sort-order="desc" data-search="true" data-mobile-responsive="true" data-check-on-init="true" id="tabOb">
                    <thead>
                        <tr>
                            <th data-field="EventoID" data-visible="false">ID</th>
                            <th data-field="nombre" data-sortable="true" >Nombre</th>
                            <th data-field="sexo" data-sortable="true">Sexo</th>
                            <th data-field="mensaje" data-sortable="true">Mensaje</th>
                            <th data-field="fechaNot" data-sortable="true">Notificación</th>
                            <th data-field="operacion" data-events="operateEvents" data-formatter="operateFormatter" data-align="center"></th>
                        </tr>
                    </thead>
                </table>

        </div>



        </div>
        <div role="tabpanel" class="tab-pane" id="eOp">
            <div class="container">

                <table data-toggle="table" data-url='@Url.Action("GetEventosOpcionales", "Notificacion")' data-pagination="true" data-side-pagination="client"
                       data-page-list="[10, 25, 50, 100, ALL]" data-row-style="rowStyle" data-sort-order="desc" data-search="true" data-mobile-responsive="true" data-check-on-init="true" id="tablaOpcional">
                    <thead>
                        <tr>
                            <th data-field="EventoID" data-visible="false">ID</th>
                            <th data-field="nombre" data-sortable="true" >Nombre</th>
                            <th data-field="sexo" data-sortable="true" >Sexo</th>
                            <th data-field="mensaje" data-sortable="true" >Mensaje</th>
                            <th data-field="operacionEdad" data-events="operateEventsAge" data-formatter="operateFormatterAge" data-align="center">Ver Edades</th>
                            <th data-field="operacion2" data-events="operateEvents2" data-formatter="operateFormatter2" data-align="center"></th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>

    </div>
</div>

<script>

        function rowStyle(row, index) {
            var classes = ['active', 'success', 'info', 'warning', 'danger'];

            if (index % 2 === 0) {
                return {
                    classes: classes[2]
                };
            }
            return {};
        }

        function operateFormatter2(value, row, index) {
            return [
                '<a class="remove" href="javascript:void(0)" title="Eliminar evento">',
                '<i class="glyphicon glyphicon-remove"></i>',
                '</a>',
                ' ',
                '<a class="pacientes" href="javascript:void(0)" title="Ver pacientes suscritos al evento">',
                '<i class="fa fa-users"></i>',
                '</a>'

            ].join('');
        }

        function operateFormatterAge(value, row, index) {
            return [
                '<a class="edad" href="javascript:void(0)" title="Ver Edades">',
                '<i class="glyphicon glyphicon-search"></i>',
                '</a>',
              

            ].join('');
        }


        function operateFormatter(value, row, index) {
            return [
                '<a class="remove" href="javascript:void(0)" title="Eliminar evento">',
                '<i class="glyphicon glyphicon-remove"></i>',
                '</a>',
                ' ',
                '<a class="pacientes" href="javascript:void(0)" title="Ver pacientes suscritos al evento">',
                '<i class="fa fa-users"></i>',
                '</a>'

            ].join('');
        }


        window.operateEvents = {

            'click .remove': function (e, value, row, index) {

                $("#idRowDel").val(row.EventoID);
                $("#idTipo").val("1");
                $('#modalRemove').modal('show');
                // $table.bootstrapTable('remove', {
                //     field: 'idC',
                //     values: [row.idC]
                // });
            },
            'click .pacientes': function (e, value, row, index) {

                var url = '/Notificacion/VerPacientesEvento' + '?idE=' + row.EventoID;
                location.href = url;
            }
        }

        window.operateEvents2 = {

            'click .remove': function (e, value, row, index) {

                $("#idRowDel").val(row.EventoID);
                $("#idTipo").val("2");
                $('#modalRemove').modal('show');
                // $table.bootstrapTable('remove', {
                //     field: 'idC',
                //     values: [row.idC]
                // });
            },
            'click .pacientes': function (e, value, row, index) {


                var url = '/Notificacion/VerPacientesEvento' + '?idE=' + row.EventoID;
                location.href = url;
            }
        }

        window.operateEventsAge = {

            'click .edad': function (e, value, row, index) {
              
                $('#tableLocales').bootstrapTable('destroy');
                $('#tableLocales').bootstrapTable({
                    url: '@Url.Action("GetEdades", "Notificacion")' + '?idE=' + row.EventoID,

                    columns: [{
                        field: 'edad',
                        title: 'Edad',
                        filterControl: 'input'
                    }

                    ]
                });
                $('#tableLocales').bootstrapTable('resetView');
                $('#modalTable').modal('show');
            }
        }


    </script>
<script>
    $(document).ready(function () {


        $("#remove").click(function () {

            $.ajax({
                url: '@Url.Action("Delete", "Notificacion")',
                dataType: "json",
                type: "POST",
                data: { idE: $("#idRowDel").val() },

                cache: false,
                success: function (data) {

                    if (data.success) {


                        $('#modalRemove').modal('hide');
                        if ($("#idTipo").val() == "1") {

                            $('#tabOb').bootstrapTable("refresh", { silent: true });

                        } else {
                          
                            $('#tablaOpcional').bootstrapTable("refresh", { silent: true });
                        }
                       
                      
                       

                    } else {

                        alert("error delete 1");
                    }
                },
                error: function (xhr) {

                    alert('error delete 2');
                }
            })



        });

    })
</script>

<div class="modal fade" id="modalTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><i class="glyphicon glyphicon-bell"></i>&nbsp Edades Evento</h4>
            </div>
            <div class="modal-body">
                <table id="tableLocales"
                       data-toggle="table"
                       data-height="299" data-row-style="rowStyle" data-filter-control="true"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalRemove">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Ok"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Eliminar Evento</h4>
            </div>
            <div class="modal-body">
                <p>Está seguro/a que desea eliminar el Evento ?</p>
                <input id="idRowDel" type="hidden" />
                <input id="idTipo" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="remove">Si</button>

                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
