
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SAREM</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/ContentEsp/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")

  

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="~/Content/images/logo9.png" /></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    @Html.Partial("_UserPartial")
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Perfíl</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-key"></i> Cambiar Contraseña</a>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i>Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li id="idLi">
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-edit"></i> Consultas <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li >
                                <a  href='@Url.Action("Create", "Consulta")'>Crear Consulta</a>
                            </li>
                            <li>
                                <a href='@Url.Action("CreateMasivo", "Consulta")'>Crear Consulta Masiva</a>
                            </li>
                            <li >
                                <a  href='@Url.Action("VerConsultas", "Consulta")'>Ver Consultas - <br /> Modificar Consultas - <br />Cancelar Consultas - <br /> Ver Pacientes Consulta</a>
                            </li>

                        </ul>
                    </li>
                    <li id="idLi2">
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-user-md"></i> Médico de Referencia <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo2" class="collapse">
                            <li>
                                <a href='@Url.Action("VerSolicitudes", "MedicoRef")'>Ver Solicitudes Pendientes</a>
                            </li>
                            <li>
                                <a href='@Url.Action("VerSolicitudesAceptadas", "MedicoRef")'>Ver Solicitudes Aceptadas</a>
                            </li>

                        </ul>
                    </li>
                    <li id="idLi3">
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo3"><i class="fa fa-fw fa-th-list"></i> Parte Diario <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo3" class="collapse">
                            <li>
                                <a href='@Url.Action("VerParteDiario", "Consulta")'>Ver Parte Diario  - <br /> Ver Pacientes Parte Diario</a>
                            </li>
                           

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo4"><i class="fa fa-fw fa-clock-o"></i>&nbsp;Eventos <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo4" class="collapse">
                            <li>
                                <a href='@Url.Action("Create", "Notificacion")'>Crear Evento</a>
                            </li>
                            <li>
                                <a href='@Url.Action("VerEventos", "Notificacion")'>Ver Eventos - <br /> Ver Pacientes Suscriptos a Evento</a>
                            </li>
                        </ul>
                    </li>
             

                </ul>
            </div>
            
            <!-- /.navbar-collapse -->
        </nav>
  
        <div id="page-wrapper">
            <div id="target" class="container-fluid">
               @RenderBody()
            </div>
        </div>

       
    </div>
    <!-- /#wrapper -->

 
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script>
    $(document).ready(function () {


        $('li > a').find('a[href="' + location.pathname + '"]')
        .closest('li').addClass('active');
      
    });

    </script>

</body>
</html>


