@model SAREM.Web.Models.Consulta

@{
    ViewBag.Title = "Crear Consulta";
    Layout = "~/Views/Shared/_Admin.cshtml";
  
}



<ol class="breadcrumb">
    <li><a href="#">Consultas</a></li>
    <li class="active">Crear Consulta</li>
</ol>
 
<div class="paragraphs">
    <div class="row">
        <div class="span4">
            <div class="content-heading" style="margin-left:17px !important;">
              
                <h3 class="pull-left">Crear Consulta &nbsp &nbsp &nbsp &nbsp </h3>
                <img src="~/Content/images/agenda2.png" />
            </div>
           
        </div>
    </div>
</div>
              
 <hr />
 <div class="alert alert-danger alert-dismissible" role="alert" style="display:none;" id="msjError">
    
    <strong>Advertencia:</strong> &nbsp Existen campos obligatorios que no se han ingresado correctamente. Por favor, corríjalos.
</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           

            <div class="form-group" id="divOrigen">
                <label class="control-label col-md-2">Orígen:</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(
                        model => model.localID,
                        Model.local.Select(l => new SelectListItem
                        {
                            Text = l.nombre,
                            Value = l.LocalID.ToString()
                        }),
          "Seleccione un Orígen", new {style = "width:280px", @class = "form-control origen_change" })
                    @Html.ValidationMessageFor(model => model.localID, "", new { @class = "text-danger" })
                    <span id="helpOrigen" class="help-block" style="display:none">Debe seleccionar un Orígen.</span>
                </div>
            </div>
            <div id="especialidades" style="display:none">
                <div class="form-group" id="divEspecial">
                    <label class="control-label col-md-2">Especialidad:</label>
                    <div class="col-md-10">

                        @Html.DropDownList("Especial", new SelectList(string.Empty, "Value", "Text"), "Seleccione una Especialidad", new { style = "width:280px", @class = "form-control" })
                        <span id="helpEspecial" class="help-block" style="display:none">Debe seleccionar una Especialidad.</span>
                    </div>
                  
                </div>
            </div>
            <div id="medicos" style="display:none">
                <div class="form-group" id="divMedico">
                    <label class="control-label col-md-2">Médico:</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Medico", new SelectList(string.Empty, "Value", "Text"), "Seleccione un Médico", new { style = "width:280px", @class = "form-control" })
                        <span id="helpMedico" class="help-block" style="display:none">Debe seleccionar un Médico.</span>
                    </div>
                    
                </div>
            </div>
            <div class="form-group" id="divFI">
                <label class="control-label col-md-2">Fecha Inicio:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fecha_inicio, new { htmlAttributes = new { @id = "idFI", @class = "form-control datetimepicker", placeholder = "Seleccione una fecha.." } })
                    @Html.ValidationMessageFor(model => model.fecha_inicio, "", new { @class = "text-danger" })
                    <span id="helpFI" class="help-block" style="display:none"></span>
                </div>
            </div>

            <div class="form-group" id="divFF">
                <label class="control-label col-md-2">Fecha Fin:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fecha_fin, new { htmlAttributes = new { @id = "idFF", @class = "form-control datetimepicker", placeholder = "Seleccione una fecha.." } })
                    @Html.ValidationMessageFor(model => model.fecha_fin, "", new { @class = "text-danger" })
                    <span id="helpFF" class="help-block" style="display:none"></span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button id="Crear" type="button" class="btn btn-default">Crear</button>

                </div>
            </div>
       
        </div>
    }


    @Scripts.Render("~/bundles/jquery")
    
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script>
        $(document).ready(function () {


            $(".origen_change").change(function () {

                if ($(".origen_change option:selected").index() != 0) {

                    $("#medicos").css("display", "none");
                    $("#Especial").empty().append('<option value="0">Seleccione una Especialidad</option>');

                   
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetEspecialidades", "Consulta")',
                        dataType: 'json',
                        data: { idLocalidad: $(this).find('option:selected').val() },
                        cache: false,
                        success: function (data) {
                            //Fill div with results
                            // states contains the JSON formatted list
                            // of states passed from the controller

                         

                            $.each(data, function (i, dato) {
                                $("#Especial").append('<option value="' + dato.Value + '">' +
                                     dato.Text + '</option>');
                                // here we are adding option for States

                            });

                            $("#especialidades").css("display", "block");
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    });
                }
            });

            $("#Especial").change(function () {
                if ($("#Especial option:selected").index() != 0) {
                    $("#Medico").empty().append('<option value="0">Seleccione un Médico</option>');
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetMedicos", "Consulta")',
                        dataType: 'json',
                        data: { idEspecialidad: $(this).find('option:selected').val(), idLocalidad: $(".origen_change option:selected").val() },
                        cache: false,
                        success: function (data) {
                            //Fill div with results
                            // states contains the JSON formatted list
                            // of states passed from the controller

                            $.each(data, function (i, dato) {
                                $("#Medico").append('<option value="' + dato.Value + '">' +
                                     dato.Text + '</option>');
                                // here we are adding option for States

                            });

                            $("#medicos").css("display", "block");
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    });

                }
            });



            $(function () {
                $('.datetimepicker').datetimepicker({
                    locale: 'es'

                });

            });


            $("#Crear").click(function () {

                if (validar()){
               
                $.ajax({
                    url: '@Url.Action("Create", "Consulta")',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        consulta: {
                            localID: $(".origen_change").find('option:selected').val(),
                            especialidadID: $("#Especial").find('option:selected').val(), 
                            medID: $("#Medico").find('option:selected').val(), 
                            fecha_inicio: $("#idFI").val(), fecha_fin: $("#idFF").val()
                        }
                    }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {

                        if (data.success) {
                            $("#idFI").val("");
                            $("#idFF").val("");
                            $("#medicos").css("display", "none");
                            $("#especialidades").css("display", "none");
                            $(".origen_change").prop('selectedIndex', 0);
                            $('#exito').modal('show');

                        } else {

                            $('#error').modal('show');
                        }
                    },
                    error: function (xhr) {

                        alert('error');
                    }
                })

                }
            });

        });

        $(function () {
            $("#ok").on('click', function () {
                $('#exito').modal('hide');
            });
        });

        $(function () {
            $("#ok2").on('click', function () {
                $('#error').modal('hide');
            });
        });

       
    </script>
    <script>
        function validar() {
            
            var ok = true;

            $("#msjError").hide();

            $("#divOrigen").removeClass("has-error");
            $("#helpOrigen").hide();
            $("#divEspecial").removeClass("has-error");
            $("#helpEspecial").hide();
            $("#divMedico").removeClass("has-error");
            $("#helpMedico").hide();

            $("#divFI").removeClass("has-error");
            $("#helpFI").hide();

            $("#divFF").removeClass("has-error");
            $("#helpFF").hide();
           
            if ($(".origen_change option:selected").index() == 0) {

                $("#divOrigen").addClass("has-error");
                $("#helpOrigen").show();
                ok = false;

            } else {

                if ($("#Especial option:selected").index() == 0) {

                    $("#divEspecial").addClass("has-error");
                    $("#helpEspecial").show();
                    ok = false;

                } else {

                    if ($("#Medico option:selected").index() == 0) {

                        $("#divMedico").addClass("has-error");
                        $("#helpMedico").show();
                        ok = false;
                    }
                }
            }

            //Valido fechas
            if (!$("#idFI").val()) {

                $("#divFI").addClass("has-error");
                $("#helpFI").text("Debe ingresar una Fecha de Inicio.");
                $("#helpFI").show();
                ok = false;

            } else if (!$("#idFI").val().match(/\d{2}\/\d{2}\/\d{4}\s+\d{2}:\d{2}/)) {

                $("#divFI").addClass("has-error");
                $("#helpFI").text("El formato de fecha ingresado debe ser dd/MM/yyyy HH:mm.");
                $("#helpFI").show();
                ok = false;
            }

            if (!$("#idFF").val()) {

                $("#divFF").addClass("has-error");
                $("#helpFF").text("Debe ingresar una Fecha de Finalización.");
                $("#helpFF").show();
                ok = false;

            } else if (!$("#idFF").val().match(/\d{2}\/\d{2}\/\d{4}\s+\d{2}:\d{2}/)) {

                $("#divFF").addClass("has-error");
                $("#helpFF").text("El formato de fecha ingresado debe ser dd/MM/yyyy HH:mm.");
                $("#helpFF").show();
                ok = false;
            }

            if (!ok) {

                $("#msjError").show();
            }

            return ok;
        }
    </script>



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="exito">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Ok"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Crear Consulta</h4>
            </div>
            <div class="modal-body">
                <p>La consulta ha sido creada con éxito</p>
            </div>
            <div class="modal-footer">
              
                <button type="button" class="btn btn-primary" id="ok">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="error">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Ok"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Error al Crear Consulta</h4>
            </div>
            <div class="modal-body">
                <p>No se han completado correctamente todos los campos de la consulta</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="ok2">Ok</button>
            </div>
        </div>
    </div>
</div>