@model SAREM.Web.Models.Consulta

@{
    ViewBag.Title = "Ver Pacientes Parte Diario";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/boostrap-table/src/bootstrap-table.css">
<link rel="stylesheet" href="~/Content/awesomplete.css">


@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/boostrap-table/src/bootstrap-table.js"></script>
<script src="~/Content/boostrap-table/src/locale/bootstrap-table-es-ES.js"></script>
<script src="~/Scripts/awesomplete.js" type="text/javascript"></script>
@*<script src="~/Content/boostrap-table/src/extensions/filter-control/bootstrap-table-filter-control.js"></script>*@
<script src="~/Content/boostrap-table/src/extensions/mobile/bootstrap-table-mobile.js"></script>


<ol class="breadcrumb">
    <li><a href="#">Parte Diario</a></li>
    <li><a href='@Url.Action("VerParteDiario", "Consulta")'>Ver Parte Diario</a></li>
    <li class="active">Ver Pacientes Parte Diario</li>
</ol>

<div class="paragraphs">
    <div class="row">
        <div class="span4">
            <div class="content-heading" style="margin-left:17px !important;">

                <h3 class="pull-left">Pacientes en Parte Diario &nbsp &nbsp &nbsp </h3>
                <img src="~/Content/images/writing11.png" id="dataConsulta" style="cursor: pointer;" class="img-responsive" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="Click para ver datos de la Consulta" />
            </div>

        </div>
    </div>
</div>
<br />
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#pacientes" data-toggle="tab">Pacientes</a></li>
        <li><a href="#pacientesFE" data-toggle="tab" id="tabPE">Pacientes Fuera de Lista</a></li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="pacientes">

            <div class="container">
                
                <table id="tablaPacientes" data-search="true" data-mobile-responsive="true" data-check-on-init="true" data-id-field="id" data-pagination="true" data-side-pagination="client"
                       data-page-list="[10, 25, 50, 100, ALL]" data-row-style="rowStyle" ></table>
            </div>



        </div>
        <div role="tabpanel" class="tab-pane" id="pacientesFE">
            <div class="container">

                
                <div class="pull-left" id="divAddFE">
                    <br />

                    <img src="~/Content/images/addPac2.png" id="addPacFL" style="cursor: pointer;" class="img-responsive" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Click para agregar un nuevo Paciente Fuera de Lista">
                    <br />
                </div>

                <table id="tablaPacientesFE" data-search="true" data-mobile-responsive="true" data-check-on-init="true" data-id-field="id" data-pagination="true" data-side-pagination="client"
                       data-page-list="[10, 25, 50, 100, ALL]" data-row-style="rowStyle"></table>
            </div>

        </div>

    </div>

</div>

<script>

    $(document).ready(function () {


        $("#addPacFL").popover({ trigger: "hover" });
        $("#dataConsulta").popover({ trigger: "hover" });

        var input2 = document.getElementById("idPacienteFE");
        var awesompleteP = new Awesomplete(input2, {
            minChars: 1,
            maxItems: 15,
        });

        $("#dataConsulta").click(function () {
        
            $("#modalDataCons").modal('show');

        });

        
        $("#delete").click(function () {
        
            $.ajax({
                url: '@Url.Action("CancelPacienteConsulta", "Consulta")',
                dataType: "json",
                type: "POST",
                data: { idC: @Model.consultaID, idP:  $('#idRowDel').val()},

                cache: false,
                success: function (data) {

                   
                    if (!data.success) {
                       
                        alert('error remover paciente fuera de lista tipo 2');
                      
                    } else {

                        $('#tablaPacientesFE').bootstrapTable("refresh", { silent: true });
                        $('#tablaPacientes').bootstrapTable("refresh", { silent: true });
                    }

                   
                    $("#modalDelFL").modal('hide');
                },
                error: function (xhr) {

                    alert('error remover paciente fuera de lista tipo 1');
                }
            })

        });


        //Guardar paciente agregado fuera de lista
        $("#agregarFL").click(function () {
     
          
            $.ajax({
                url: '@Url.Action("AgregarPacienteFE", "Consulta")',
                dataType: "json",
                type: "POST",
                data: { idC: @Model.consultaID, idP:  $('#idPacienteFE').val()},

                cache: false,
                success: function (data) {

                   
                    if (!data.success) {
                       
                        $("#divPE").removeClass("has-error").addClass("has-error");
                        $("#helpPE").text("El Id Paciente ingresado no es correcto. Asegurese de que no sea vacío, sea un Id correcto y no pertenezca a la Consulta, ni a la Lista de Espera.");
                        $("#helpPE").show();
                      
                    } else {

                        $('#tablaPacientesFE').bootstrapTable("refresh", { silent: true });
                      
                        $("#addPacFE").modal('hide');
                      
                    }

                  
                },
                error: function (xhr) {

                    $("#divPE").removeClass("has-error").addClass("has-error");
                    $("#helpPE").text("El Id Paciente ingresado no es correcto. Asegurese de que no sea vacío, sea un Id correcto y no pertenezca a la Consulta, ni a la Lista de Espera.");
                    $("#helpPE").show();
                }
            })
        

        });

        $('#tablaPacientes').bootstrapTable({
            url: '@Url.Action("GetPacientes", "Consulta")' + '?idC=' + @Model.consultaID,

            columns: [ {
                field: 'numero',
                title: 'Número',
                filterControl:'input'
            },{
                field: 'PacienteID',
                title: 'Id Paciente',
              
            
            },{
                field: 'nombre',
                title: 'Nombre'
            }, {
                field: 'celular',
                title: 'Celular'
            },{
                field: 'ausencia',
                title: 'Ausencia'
            },{
                field: 'operate',
                title: 'Diagnóstico/Ausencia',
                align: 'center',
                events: operateEvents,
                formatter: operateFormatter
            },
            ]
        });


        $('#tablaPacientesFE').bootstrapTable({
            url: '@Url.Action("GetPacientesFE", "Consulta")' + '?idC=' + @Model.consultaID,

            columns: [ {
                field: 'numero',
                title: 'Número'
            },{
                field: 'PacienteID',
                title: 'Id Paciente'
            },{
                field: 'nombre',
                title: 'Nombre'
            }, {
                field: 'celular',
                title: 'Celular'
            },{
                field: 'operate',
                title: 'Eliminar',
                align: 'center',
                events: operateEventsFE,
                formatter: operateFormatterFE
            },
            ]
        });

        // Guardar Diagnostico ausencia
        $("#guardar").click(function () {

        
            $.ajax({
                url: '@Url.Action("ActualizarParteDiario", "Consulta")',
                dataType: "json",
                type: "POST",
                data: { idC: @Model.consultaID, idP:  $('#idPaciente').val(), diagnostico: $("textarea#diag").val(), ausencia: $('#ausencia label.active input').val() },

                cache: false,
                success: function (data) {

                   
                    if (!data.success) {
                       
                        alert('error actualizar parte diario tipo 2');
                      
                    } else {
                        $('#tablaPacientes').bootstrapTable("refresh", { silent: true });
                    }

                    $("#addDiagnostico").modal('hide');
                },
                error: function (xhr) {

                    alert('error actualizar parte diario tipo 1');
                }
            })
        
        
        })

        //Agregar paciente a fuera de lista
        
        $("#addPacFL").click(function () {

            $("#divPE").removeClass("has-error");
          
            $("#helpPE").hide();

            $.ajax({
                url: '@Url.Action("GetPacientesNotInConsulta", "Consulta")',
                dataType: "json",
                type: "GET",

                data: { idC: @Model.consultaID},
                cache: false,
                success: function (data) {

                       
                    $('#idPacienteFE').val("");

                    var list = [];
                    $.each(data, function(key, value) {
                        list.push(value.PacienteID);
                    });

                 

                   
                    awesompleteP.list = list;

                    $('#addPacFE').modal('show');
                },
                error: function (xhr) {

                    alert('error');
                }
            })
        });

    })


  

    function operateFormatter(value, row, index) {
        return [
            '    ',
            '<a class="diagnostico" href="javascript:void(0)" title="Click para Agregar/Modificar Diagnóstico y Ausencia">',
            '<i class="glyphicon glyphicon-pencil"></i>',
            '</a>'
        ].join('');
    };

    window.operateEvents = {

        'click .diagnostico': function (e, value, row, index) {

            $("#idPaciente").val(row.PacienteID);

            $.ajax({
                url: '@Url.Action("GetDiagnostigoAusencia", "Consulta")',
                dataType: "json",
                type: "GET",
                data: { idC: @Model.consultaID, idP:  $('#idPaciente').val()},

                cache: false,
                success: function (data) {

                    $("textarea#diag").val(data.diagnostico);
                    $('#si').parent().removeClass("active");
                    $('#no').parent().removeClass("active");

                    if (data.ausencia) {
                       
                        $('#si').parent().addClass("active");
                      
                    } else {
                       
                        $('#no').parent().addClass("active");
                    }

                    $("#addDiagnostico").modal('show');
                },
                error: function (xhr) {

                    alert('error consultar diagnostico');
                }
            })
           
        }


       
    };
    

    //Fuera de Lista

    function operateFormatterFE(value, row, index) {
        return [

            '<a class="remove" href="javascript:void(0)" title="Click para eliminar paciente">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    };

    window.operateEventsFE = {

        'click .remove': function (e, value, row, index) {

            $('#idRowDel').val(row.PacienteID);
            $("#modalDelFL").modal('show');
        }
    };

    //Fin Fuera de Lista

    function totalTextFormatter(data) {
        return '<b>Total </b>';
    }

    function totalNameFormatter(data) {
        return '<span class="badge">'+data.length+'</span>';
    }
 
    //function totalTextFormatter2(data) {
    //    return '<b>Total </b>';
    //}

    //function totalNameFormatter2(data) {
    //    return '<span class="badge">'+data.length+'</span>';
    //}

    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];

        if (index % 2 === 0) {
            return {
                classes: classes[2]
            };
        }
        return {};
    }
</script>

<div class="modal fade" id="addDiagnostico">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">AM Diagnóstico/Ausencia</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="step2">


                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Diagnóstico:</label>
                        <div class="col-sm-8">
                            <textarea rows="4" cols="50" id="diag"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Ausencia:</label>
                        <div class="col-sm-8">
                            <div class="btn-group" id="ausencia" data-toggle="buttons">

                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="si" autocomplete="off" value="1"> Si
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="no" autocomplete="off" value="0"> No
                                </label>
                            </div>
                        </div>
                    </div>

                    <input id="idPaciente" type="hidden" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                <button type="button" class="btn btn-primary" id="guardar">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="addPacFE">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar Paciente Fuera de Lista</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="step2">


                    <div class="form-group" id="divPE">
                        <label for="email" class="col-sm-4 control-label">Id Paciente:</label>
                        <div class="col-sm-8">
                            <input id="idPacienteFE" class="form-control" placeholder="Ingrese Id Paciente..." style="width:280px" />
                            <span id="helpPE" class="help-block" style="display:none"></span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                <button type="button" class="btn btn-primary" id="agregarFL">Agregar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalDataCons">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Datos Consulta</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="step2">


                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Orígen:</label>
                        <div class="col-sm-8">
                            <input class="form-control" value="@Model.localDesc" style="width:280px" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Especialidad:</label>
                        <div class="col-sm-8">
                            <input class="form-control" value="@Model.descEspecialidad" style="width:280px" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Médico:</label>
                        <div class="col-sm-8">
                            <input class="form-control" value="@Model.medDesc" style="width:280px" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Fecha Inicio:</label>
                        <div class="col-sm-8">
                            <input class="form-control" value="@Model.fecha_inicio" style="width:280px" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Fecha Fin:</label>
                        <div class="col-sm-8">
                            <input class="form-control" value="@Model.fecha_fin" style="width:280px" disabled />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Eliminar Paciente Fuera de Lista, tambien se eliminara de la consulta -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalDelFL">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Ok"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Eliminar Paciente Fuera de Lista</h4>
            </div>
            <div class="modal-body">
                <p>Está seguro/a que desea eliminar al Paciente de la Consulta ?</p>
                <input id="idRowDel" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="delete">Si</button>

                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>